{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Your Shopping Cart
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Your Shopping Cart</h1>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart.items.all %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.product.price }}</td>
                    <td>
                        <form action="{% url 'remove-from-cart' item.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">You have no products in your cart.</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Sub Total</td>
                <td></td>
                <td>${{ cart.subtotal_price }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        {% if cart.items.all %}
            <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
        {% endif %}
    </div>
{% endblock content %}
