{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Categories
{% endblock %}

{% block content %}
    <h2>Categories</h2>
    <div class="d-flex justify-content-start align-items-center flex-wrap">
        {% for category in categories %}
            <div class="p-3" style="width: 200px;height: 200px;">
                <a href="{% url 'product-list-by-category' category.id %}"
                   class="btn btn-light w-100 h-100 rounded-circle border
                   d-flex justify-content-center align-items-center">
                    <h6>{{ category.title }}</h6>
                </a>
            </div>
        {% empty %}

        {% endfor %}
    </div>
{% endblock %}