{% extends 'base.html' %}

{% block content %}
    {% block title %}
        <h3>Recent Blog Posts</h3>
    {% endblock %}
    {% for post in posts %}
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Posted by {{ post.user }} on {{ post.date }}
                    with
                    <a href="{% url 'posts_by_subject' subject=post.subject.pk %}" class="card-link">{{ post.subject }}</a>
                    subject
                </h6>
                <p class="card-text">{{ post.text|safe|truncatewords:20 }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}" class="card-link">Read More</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}